[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
aiobotocore = "*"
python-decouple = "*"
python-dotenv = "*"
botocore = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
